*.mmap
data_usage.txt
node_modules
public
package-lock.json
build
codebase/projects/task-machine/src/tm/server/test_tasks.txt
codebase/projects/task-machine/src/tm/server/test_para.txt
tmp
gen-go
gen-py
tmp1
go.sum
__pycache__
universe.exe
external/*
datajunk
junk.go
nice.exe
*.exe